@import 'src/assets/styles/variables';

mat-toolbar {
  background-color: $main-dark;
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  color: $main-light
}

.light {
  font-weight: lighter;
}

.title-app {
  cursor: pointer;
  animation: transform ease-in 0.5s;

  & > h1 {
    text-shadow: 0 0 0.3rem $main-light;
  }

  &:hover {
    transform: scale(1.05);
  }
  background: linear-gradient(
      to right,
      hsl(280, 81%, 25%),
      hsl(273, 98%, 60%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.links {
  cursor: pointer;

  & > a {
    text-decoration: none;
    color: $main-light;
    padding-left: 2rem;
  }
}
h1 {
  font-size: 30px;
}

#movies-link:hover, #tv-shows-link:hover {
  font-size: 125%;
  font-family: Georgia, serif;
}
