@import 'src/assets/styles/variables';

.tv-show {
  color: $main-light;
}

.backdrop {
  width: 100%;
  object-fit: cover;
  background-position: center;
  height: 300px;
  opacity: 70%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.5)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.5));
}

.poster {
  border: $main-light 3px solid;
  border-radius: 10px;

  position: absolute;
  top: 170px;
  left: 8rem;
}

.data {
  margin-left: 15rem;
  margin-right: 2rem;
}

.title-average {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > p {
    font-weight: bold;
  }
  font-size: 30px;
  padding: 20px;
}
