/* You can add global styles to this file, and also import other style files */

@import 'assets/styles/variables';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  //background: repeating-linear-gradient(150deg, $main-dark, $main-dark, $secondary-dark) fixed;
  background: $main-dark;
  box-sizing: border-box;
}
